{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
{% endblock %}

{% block title %}detail{% endblock %}

{% block content %}
<h1>
  detail {{ row["date"] }}
</h1>
<div>
  <form action="/update/{{ row["date"] }}" method="GET">
    <input type="number" name="value" step="0.01" required value="{{ row['value'] }}">
  </form>

  <!-- Graph -->
  <div class="container m-2">
    <div class="row">
      {% for file_name in file_names %}
      <div class="container col-md-6 col-lg-4 mx-auto">
        <div id="graph-area-{{ loop.index0 }}" class="m-2"></div>
        <a href="/delete_img/{{ file_name }}" class="btn btn-primary">削除</a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container m-2">
    <form action="/upload/{{ row['date'] }}" method="POST"  enctype="multipart/form-data">
      <input type="file" name="imgs" accept="image/*" multiple required>
      <button type="submit">送信する</button>
    </form>
  </div>

  <div class="container m-2">
    <a href="/">topへ戻る</a>
  </div>
</div>

<script>
  // plotlyの描画
  {% for graph_json in graph_jsons %}
  let graphJson{{ loop.index0 }} = JSON.parse({{ graph_json | tojson }});
  const graphArea{{ loop.index0 }} = document.getElementById("graph-area-{{ loop.index0 }}");
  Plotly.newPlot(
    graphArea{{ loop.index0 }},
    graphJson{{ loop.index0 }}.data,
    graphJson{{ loop.index0 }}.layout || {}
  );
  {% endfor %}
</script>

{% endblock %}
